name: go

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

env:
  # Use the local toolchain. Never download.
  GOTOOLCHAIN: local

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: go.mod tidy
        run: go mod tidy && git diff --exit-code

      - name: license header
        run: go run github.com/elastic/go-licenser@v0.4.2 -d

      - name: cross-compile
        run: .ci/scripts/check-cross-compile.sh

  test:
    needs: check
    strategy:
      matrix:
        go:
          - stable
          - oldstable
        os:
          - macos-14
          - macos-15
          - macos-15-intel
          - windows-2022
          - windows-2025
          - ubuntu-22.04
          - ubuntu-24.04
        cgo:
          - cgo
          - nocgo
        exclude:
          # Exclude cgo testing for platforms that don't use CGO.
          - {cgo: cgo, os: windows-2022}
          - {cgo: cgo, os: windows-2025}
          - {cgo: cgo, os: ubuntu-22.04}
          - {cgo: cgo, os: ubuntu-24.04}
          # Limit the OS variants tested with the earliest supported Go version (save resources).
          - {go: oldstable, os: macos-14}
          - {go: oldstable, os: windows-2022}
          - {go: oldstable, os: ubuntu-22.04}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        id: setup_go
        with:
          go-version: ${{ matrix.go }}

      - name: Set GO_VERSION
        run: echo "GO_VERSION=${{ steps.setup_go.outputs.go-version }}" >> $GITHUB_ENV

      - name: Set CGO_ENABLED=1
        if: matrix.cgo == 'cgo'
        run: echo "CGO_ENABLED=1" >> $GITHUB_ENV

      - name: Set CGO_ENABLED=0
        if: matrix.cgo == 'nocgo'
        run: echo "CGO_ENABLED=0" >> $GITHUB_ENV

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        if: github.event_name == 'pull_request'
        with:
          version: latest
          only-new-issues: true
          args: --timeout=5m
          # Don't cache or restore ~/go/pkg. It conflicts with caching from setup-go@v4.
          skip-pkg-cache: true

      - name: Test
        if: runner.os != 'Windows'
        run:  .ci/scripts/test.sh

      - name: Test
        if: runner.os == 'Windows'
        run:  .ci/scripts/test.bat

  test-freebsd:
    runs-on: ubuntu-latest
    name: test (stable, freebsd-14.2, cgo)
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        id: setup_go
        with:
          go-version: stable

      - name: Set GITHUB_GOLANG_VERSION
        run: echo "GITHUB_GOLANG_VERSION=${{ steps.setup_go.outputs.go-version }}" >> $GITHUB_ENV

      - name: Test
        # TODO: Skip until freebsd provider is merged. Then this 'if' should be removed.
        if: ${{ hashFiles('providers/freebsd/') != '' }}
        id: test
        uses: vmactions/freebsd-vm@783ae15c0393f8a2582a139f76cc55f2d887b4a6  #v1.2.6
        with:
          usesh: true
          prepare: |
            freebsd-version
            pwd
            ls -lah
            whoami

            pkg install -y curl
            curl -sL -o /usr/bin/gvm https://github.com/andrewkroh/gvm/releases/download/v0.5.2/gvm-freebsd-amd64
            chmod +x /usr/bin/gvm
            eval "$(gvm ${GITHUB_GOLANG_VERSION})"
            go version

          run: |
            eval "$(gvm ${GITHUB_GOLANG_VERSION})"
            go test -v ./...
